/*#rest-pays{
height: 300px;
}*/

h2{
  font-size: larger;
}

.country-button{
  background-color: rgba(255, 255, 255, 0.215);
  margin-right: 1%;
  padding: 0.5%;
  border-radius: 15%;
  transform: scale(1);
  transition: 0.5s;
}

.country-button:hover{
  transform: scale(1.05);
}

.country-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 5%;
}

.sec-pays{
  min-height: 600px;
  background-color:  rgb(25, 52, 126);;
}